.carousel-valoraciones-container {
  width: 100%;
  margin: 0 auto; /* Ocultar desplazamiento horizontal */
  position: relative;
  overflow: hidden;
}

.carousel-valoraciones-inner {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease; /* Transición suave */
}

.carousel-valoraciones-item {
  flex: 0 0 100%;
}

.carousel-comments-item-pc {
  flex: 0 0 33%;
}

/* Carousel puntos para desplazarse entre imagenes */
.carousel-valoraciones-dots {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

.val-dot {
  width: 8px;
  height: 8px;
  background-color: gray; /* Estilo para el punto no activo */
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.active-dot-val {
  background-color: white; /* Estilo para el punto activo */
}

.carousel-btn-val {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  width: 40px; /* Ancho igual al alto */
  height: 40px; /* Alto igual al ancho */
  border-radius: 50%; /* Hacer la flecha redonda */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.carousel-btn-val:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev-valoraciones-btn {
  left: 10px;
  visibility: visible;
}

.next-valoraciones-btn {
  right: 10px;
  visibility: visible;
}

/* Ocultar flechas en dispositivos móviles */
@media screen and (max-width: 768px) {
  .carousel-btn-val {
    display: none;
  }
}
